//----------------------------------*\
// Dev
//----------------------------------*/
//edit()

//----------------------------------*\
// Node Modules
//----------------------------------*/
//Change settings if needed

@import 'axis'
//Layout grid
@import 'jeet'
//breakPoints
@import 'rupture'
//Animation
//@import 'axis/animation'

//Axis Reset
global-reset()
normilize()

//----------------------------------*\
// Vendor
//----------------------------------*/

//@import "vendor/*"


//----------------------------------*\
// Bower Componets
//----------------------------------*/

//@import "..bower_components/"

//----------------------------------*\
// Global Styles
//----------------------------------*/

@import "global/*"


//----------------------------------*\
// Jade Layouts
//----------------------------------*/

@import "layouts/*"


//----------------------------------*\
// Pages
//----------------------------------*/
@import "pages/*"

//----------------------------------*\
// Components
//----------------------------------*/
@import "components/*"

