

//----------------------------------*\
// Global
//----------------------------------*/
////-------------------*\
//// Colors
////-------------------*/
body
	background: radial-gradient(white, gray)
	height: 100vh;

////-------------------*\
//// Var
////-------------------*/

//----------------------------------*\
// Index Styles
//----------------------------------*/
.title
	align()
	font-size: 7em
	color:blue