
//----------------------------------*\
// Transitions Var
//----------------------------------*/

$tz1 = ease-in-sine;
$tz2 = ease-in-quad
$tz3 = ease-in-cubic
$tz4 = ease-in-quart
$tz5 = ease-in-quint
$tz6 = ease-in-sine
$tz7 = ease-in-expo
$tz8 = ease-in-circ
$tz9 = ease-in-back
$tz10 = ease-out-quad
$tz11 = ease-out-cubic
$tz12 = ease-out-quart
$tz13 = ease-out-quint
$tz14 = ease-out-sine
$tz15 = ease-out-expo
$tz16 = ease-out-circ
$tz17 = ease-out-back
$tz18 = ease-in-out-quad
$tz19 = ease-in-out-cubic
$tz20 = ease-in-out-quart
$tz21 = ease-in-out-quint
$tz22 = ease-in-out-sine
$tz23 = ease-in-out-expo
$tz24 = ease-in-out-circ
$tz25 = ease-in-out-back
