//- Scripts

//-Vendor
// build:js scripts/vendor.js 
script(src='bower_components/jquery/dist/jquery.js')
// endbuild 

//-Main
// build:js scripts/main.js 
script(src='scripts/main.js')
// endbuild 

//-Component 
// build:js scripts/component.js
script(src='scripts/component.js')
// endbuild
